* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    background-image: repeating-linear-gradient(45deg,
            rgba(0, 0, 0, 0.03),
            rgba(0, 0, 0, 0.03) 10px,
            transparent 10px,
            transparent 20px);
}

.main_box {
    text-align: center;
    background-color: rgb(176, 222, 226);
    height: 45vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 25px;
}

input {
    width: 75%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;

}

button {
    cursor: pointer;
    background-color: rgb(83, 213, 83);
    font-weight: bolder;
    margin: 20px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(12, 183, 12);
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.result span {
    font-weight: bold;
    color: rgb(83, 213, 83);
}

.categories {
    font-size: 13px;
    color: #555;
    margin-top: 8px;
    font-weight: bold;
    font-size: 15px;
}
